.logoup{
    display: flex;
    justify-self: flex-start;
    width: 50%;
    justify-self: flex-end;
    align-content: stretch;
    margin: 0%;
}
.search{
    align-content: center;
    text-align: left;
    width: 100cm;
}
.hu{
    border: solid;
}
.nav a{
    background-color: whitesmoke;
    color: black;
    text-align: center;
    padding: 16px 40px ;
    border: solid;
}
.nav a:hover{
    background-color: gray;
    color: whitesmoke;
}
.nav1 a{
    background-color: whitesmoke;
    color: black;
    text-align: center;
    padding: 16px 40px ;
    border: solid;
}
.nav1 a:hover{
    background-color: gray;
    color: whitesmoke;
}
.avi a{
    background-color: whitesmoke;
    color: black;
    text-align: center;
    padding: 16px 40px ;
    border: solid;   
}
.avi a:hover{
    background-color: gray;
    color: whitesmoke;
}
.kgf3{
    text-align: center;
}
.db1 a{
    background-color: whitesmoke;
    color: black;
    text-align: center;
    padding: 12px 10px ;
    border: solid;
}
.db1 a:hover{
    background-color: gray;
    color: whitesmoke;  
}
.nav3 a{
    background-color: whitesmoke;
    color: black;
    text-align: center;
    padding: 16px 40px ;
    border: solid;
}
.nav3 a:hover{
    background-color: gray;
    color: whitesmoke;
}
